* {
  margin: 0;
  padding: 0;
  font-family: "Lato";
  box-sizing: border-box;
  font-size: 20px;
  line-height: 100%;
}
.central {
  justify-content: space-around;
  display: flex;
  text-align: center;
  width: 2rem;
  margin-left: 15rem !important;
  margin-top: 1rem;
  margin-right: 15rem !important;
}

.heading {
  color: black;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.top-bottom-1rem-m {
  margin-top: 1rem;
  margin-bottom: 2rem;
  /* margin: 2rem; */
}
.font-24 {
  font-size: larger;
  padding: 1rem;
  line-height: 150%;
}

.margin-left {
  margin-left: 2rem;
  padding: 1rem;
}
.margin-left-right {
  margin-left: 2rem;
  margin-right: 2rem;
}
